**.vs**
**bin**
**obj**
**.vcxproj**
**.sln**
**.filters**
ci
*.hint
**build**
.editorconfig
**.tours**
/Diagrams/Fitting (1).drawio
/Diagrams/.$Fitting (1).drawio.bkp
/Diagrams/.$Fitting.drawio.dtmp
/Diagrams/.$Fitting.drawio.dtmp
