**.vs**
**.bin**
**.obj**
**.vcxproj**
**.sln**
**.filters**
**.exe**
**.tlog**
**.lib**
**.pdb**
**.log**
ci
*.hint
**.cmake**
**.sarif**
**.idb**
**.ilk**
**.cache**
build/CMakeCache.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/3.28.0-msvc1/VCTargetsPath.txt
build/CMakeFiles/3.28.0-msvc1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.28.0-msvc1/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
NumericStorm/obj/Debug/CodeAnalysisResultManifest.txt
