**.vs**
**.bin**
**.obj**
**.vcxproj**
**.sln**
**.filters**
**.exe**
**.tlog**
**.lib**
**.pdb**
**.log**
ci
*.hint
**.cmake**
**.sarif**
**.idb**
**.ilk**
**.cache**
**build**
NumericStorm/obj/Debug/CodeAnalysisResultManifest.txt
